<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>211229922146-vd5vdiag1mpa5bpo65o7l0eufcek6nhs.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.211229922146-vd5vdiag1mpa5bpo65o7l0eufcek6nhs</string>
	<key>API_KEY</key>
	<string>AIzaSyCgYkXzQbinU71jtnezr7kutoxaKL_ZUFs</string>
	<key>GCM_SENDER_ID</key>
	<string>211229922146</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.socialapp</string>
	<key>PROJECT_ID</key>
	<string>socialapp-4aa8f</string>
	<key>STORAGE_BUCKET</key>
	<string>socialapp-4aa8f.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:211229922146:ios:efc6bbd3970342e46e923b</string>
</dict>
</plist>